Repository dnnsoftware/Dnn.Platform, pull requests merged in 2022-06, with the labels that each got.

#5128 Feature/5101 ck editor resize images on upload
  DNN Platform/Providers/HtmlEditorProviders/DNNConnect.CKE/App_LocalResources/Options.aspx.resx
  DNN Platform/Providers/HtmlEditorProviders/DNNConnect.CKE/Browser/Browser.aspx.cs
  DNN Platform/Providers/HtmlEditorProviders/DNNConnect.CKE/CKEditorOptions.ascx
  DNN Platform/Providers/HtmlEditorProviders/DNNConnect.CKE/CKEditorOptions.ascx.cs
  DNN Platform/Providers/HtmlEditorProviders/DNNConnect.CKE/CKEditorOptions.ascx.designer.cs
  DNN Platform/Providers/HtmlEditorProviders/DNNConnect.CKE/Constants/SettingConstants.cs
  DNN Platform/Providers/HtmlEditorProviders/DNNConnect.CKE/Install/Dnn.CKEditorDefaultSettings.xml
  DNN Platform/Providers/HtmlEditorProviders/DNNConnect.CKE/Objects/EditorProviderSettings.cs
  DNN Platform/Providers/HtmlEditorProviders/DNNConnect.CKE/Objects/SettingBase.cs
  DNN Platform/Providers/HtmlEditorProviders/DNNConnect.CKE/Utilities/SettingsUtil.cs
Labels: Type: Enhancement

#5113 Removing some unnecessary values from SMTP entity
  Dnn.AdminExperience/Dnn.PersonaBar.Extensions/Services/ServerSettingsSmtpHostController.cs
  Dnn.AdminExperience/Dnn.PersonaBar.Extensions/admin/personaBar/Dnn.Servers/App_LocalResources/Servers.resx
Labels: Type: Enhancement

#5141 Update last knockout js in solution to 3.5.1
  Dnn.AdminExperience/EditBar/Dnn.EditBar.UI/editBar/scripts/contrib/knockout.js
Labels: Area: AE > Dnn.EditBar.UI, Type: Maintenance

#5170 Upgrade Cake.Frosting from 2.0.0 to 2.2.0
  Build/Build.csproj
Labels: Type: Build/Release, Type: Maintenance
