Repository dnnsoftware/Dnn.Platform, pull requests merged in 2023-04, with the labels that each got.

#4711 Removal of the WebSlice options
  DNN Platform/Library/Data/DataProvider.cs
  DNN Platform/Library/Entities/Modules/ModuleController.cs
  DNN Platform/Library/Entities/Modules/ModuleInfo.cs
  DNN Platform/Library/UI/Modules/ModuleHost.cs
  DNN Platform/Modules/DnnExportImport/Components/Services/PagesExportService.cs
  DNN Platform/Modules/DnnExportImportLibrary/Dto/Pages/ExportTabModule.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Services/Mobile/RedirectionControllerTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Web/InternalServices/SearchServiceControllerTests.cs
  DNN Platform/Website/DesktopModules/Admin/Portals/portal.template.xsd
  DNN Platform/Website/DotNetNuke.Website.csproj
  DNN Platform/Website/Install/Template/UserProfile.page.template
  DNN Platform/Website/Portals/_default/Blank Website.template
  DNN Platform/Website/Portals/_default/Default Website.template
  DNN Platform/Website/Portals/_default/Templates/UserProfile.page.template
  DNN Platform/Website/Portals/_default/admin.template
  DNN Platform/Website/Providers/DataProviders/SqlDataProvider/10.00.00.SqlDataProvider
  DNN Platform/Website/admin/Modules/App_LocalResources/ModuleSettings.ascx.resx
  DNN Platform/Website/admin/Modules/Modulesettings.ascx
  DNN Platform/Website/admin/Modules/Modulesettings.ascx.cs
  DNN Platform/Website/admin/Modules/Modulesettings.ascx.designer.cs
Labels: Alert: Breaking Change, Type: Maintenance

#4484 Fixed DDRMenu to handle duplicate page names
  DNN Platform/Modules/DDRMenu/MenuBase.cs
  DNN Platform/Modules/DDRMenu/MenuNode.cs
  DNN Platform/Tests/DotNetNuke.Tests.Modules.DDRMenu/AssemblyInfo.cs
  DNN Platform/Tests/DotNetNuke.Tests.Modules.DDRMenu/DotNetNuke.Tests.Modules.DDRMenu.csproj
  DNN Platform/Tests/DotNetNuke.Tests.Modules.DDRMenu/MenuNodeTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Modules.DDRMenu/packages.config
  DNN Platform/Tests/DotNetNuke.Tests.Utilities/app.config
  DNN_Platform.sln
Labels: Type: Bug, Noteworthy

#5237 Add support for the RoleUpdated event.
  DNN Platform/Library/Entities/EventManager.cs
  DNN Platform/Library/Entities/IEventManager.cs
  DNN Platform/Library/Security/Roles/IRoleEventHandlers.cs
  DNN Platform/Library/Security/Roles/RoleController.cs
Labels: Type: Enhancement

#5600 Enable Dependency Injection for Prompt commands
  DNN Platform/DotNetNuke.Abstractions/Prompt/ICommandRepository.cs
  DNN Platform/Library/DotNetNuke.Library.csproj
  DNN Platform/Library/Prompt/CommandRepository.cs
  DNN Platform/Library/Startup.cs
  Dnn.AdminExperience/Dnn.PersonaBar.Extensions/Components/Prompt/Repositories/CommandRepository.cs
  Dnn.AdminExperience/Dnn.PersonaBar.Extensions/Dnn.PersonaBar.Extensions.csproj
  Dnn.AdminExperience/Dnn.PersonaBar.Extensions/Services/CommandController.cs
  Dnn.AdminExperience/Dnn.PersonaBar.Extensions/Startup.cs
Labels: Alert: Breaking Change, Type: Enhancement, Area: AE > PersonaBar Ext > Prompt.Web, Area: Platform > DotNetNuke.DependencyInjection

#5601 Enable dependency injection for connectors
  DNN Platform/Connectors/Azure/Components/AzureConnector.cs
  DNN Platform/Connectors/Azure/Services/ServicesController.cs
  DNN Platform/Library/Common/Initialize.cs
  DNN Platform/Library/DotNetNuke.Library.csproj
  DNN Platform/Library/Services/Connections/ConnectionsController.cs
  DNN Platform/Library/Services/Connections/ConnectionsManager.cs
  DNN Platform/Library/Services/Connections/IConnectionsManager.cs
  DNN Platform/Library/Services/Connections/Startup.cs
  DNN Platform/Library/Services/FileSystem/FolderMappings/FolderMappingController.cs
  DNN Platform/Library/Services/FileSystem/FolderMappings/IFolderMappingController.cs
  DNN Platform/Library/Startup.cs
  Dnn.AdminExperience/Dnn.PersonaBar.Extensions/Services/ConnectorsController.cs
Labels: Alert: Breaking Change, Type: Enhancement, Area: Platform > Connectors, Area: Platform > DotNetNuke.DependencyInjection

#4098 Dependency Injection in WebForms
  DNN Platform/DotNetNuke.Web/Common/DotNetNukeHttpApplication.cs
  DNN Platform/DotNetNuke.Web/Common/WebFormsServiceProvider.cs
  DNN Platform/DotNetNuke.Web/DotNetNuke.Web.csproj
  DNN Platform/Tests/DotNetNuke.Tests.Web/Api/Internals/WebFormsServiceProviderTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Web/DotNetNuke.Tests.Web.csproj
  DNN Platform/Tests/DotNetNuke.Tests.Web/InternalServices/SearchServiceControllerTests.cs
Labels: Type: Feature, Area: Platform > DotNetNuke.DependencyInjection

#5603 Enable dependency injection for ImageTransform
  DNN Platform/Library/Services/GeneratedImage/DnnImageHandler.cs
Labels: Type: Enhancement, Area: Platform > DotNetNuke.DependencyInjection

#5609 Update test dependencies
  Build/Program.cs
  DNN Platform/Tests/App.config
  DNN Platform/Tests/DNN.Integration.Test.Framework/DNN.Integration.Test.Framework.csproj
  DNN Platform/Tests/DNN.Integration.Test.Framework/app.config
  DNN Platform/Tests/DNN.Integration.Test.Framework/packages.config
  DNN Platform/Tests/DotNetNuke.Tests.AspNetCCP/App.config
  DNN Platform/Tests/DotNetNuke.Tests.AspNetCCP/DotNetNuke.Tests.AspNetCCP.csproj
  DNN Platform/Tests/DotNetNuke.Tests.AspNetCCP/packages.config
  DNN Platform/Tests/DotNetNuke.Tests.Authentication/DotNetNuke.Tests.Authentication.csproj
  DNN Platform/Tests/DotNetNuke.Tests.Authentication/app.config
  DNN Platform/Tests/DotNetNuke.Tests.Authentication/packages.config
  DNN Platform/Tests/DotNetNuke.Tests.Content/DotNetNuke.Tests.Content.csproj
  DNN Platform/Tests/DotNetNuke.Tests.Content/app.config
  DNN Platform/Tests/DotNetNuke.Tests.Content/packages.config
  DNN Platform/Tests/DotNetNuke.Tests.Core/DotNetNuke.Tests.Core.csproj
  DNN Platform/Tests/DotNetNuke.Tests.Core/packages.config
  DNN Platform/Tests/DotNetNuke.Tests.Data/DotNetNuke.Tests.Data.csproj
  DNN Platform/Tests/DotNetNuke.Tests.Data/packages.config
  DNN Platform/Tests/DotNetNuke.Tests.Integration/DotNetNuke.Tests.Integration.csproj
  DNN Platform/Tests/DotNetNuke.Tests.Integration/packages.config
  DNN Platform/Tests/DotNetNuke.Tests.Modules/DotNetNuke.Tests.Modules.csproj
  DNN Platform/Tests/DotNetNuke.Tests.Modules/packages.config
  DNN Platform/Tests/DotNetNuke.Tests.UI/DotNetNuke.Tests.UI.csproj
  DNN Platform/Tests/DotNetNuke.Tests.UI/app.config
  DNN Platform/Tests/DotNetNuke.Tests.UI/packages.config
  DNN Platform/Tests/DotNetNuke.Tests.Urls/DotNetNuke.Tests.Urls.csproj
  DNN Platform/Tests/DotNetNuke.Tests.Urls/packages.config
  DNN Platform/Tests/DotNetNuke.Tests.Utilities/DotNetNuke.Tests.Utilities.csproj
  DNN Platform/Tests/DotNetNuke.Tests.Utilities/app.config
  DNN Platform/Tests/DotNetNuke.Tests.Utilities/packages.config
  DNN Platform/Tests/DotNetNuke.Tests.Web.Mvc/DotNetNuke.Tests.Web.Mvc.csproj
  DNN Platform/Tests/DotNetNuke.Tests.Web.Mvc/app.config
  DNN Platform/Tests/DotNetNuke.Tests.Web.Mvc/packages.config
  DNN Platform/Tests/DotNetNuke.Tests.Web/App.config
  DNN Platform/Tests/DotNetNuke.Tests.Web/DotNetNuke.Tests.Web.csproj
  DNN Platform/Tests/DotNetNuke.Tests.Web/packages.config
  Dnn.AdminExperience/Tests/Dnn.PersonaBar.ConfigConsole.Tests/Dnn.PersonaBar.ConfigConsole.Tests.csproj
  Dnn.AdminExperience/Tests/Dnn.PersonaBar.ConfigConsole.Tests/packages.config
  Dnn.AdminExperience/Tests/Dnn.PersonaBar.Pages.Tests/Dnn.PersonaBar.Pages.Tests.csproj
  Dnn.AdminExperience/Tests/Dnn.PersonaBar.Pages.Tests/app.config
  Dnn.AdminExperience/Tests/Dnn.PersonaBar.Pages.Tests/packages.config
  Dnn.AdminExperience/Tests/Dnn.PersonaBar.Security.Tests/Dnn.PersonaBar.Security.Tests.csproj
  Dnn.AdminExperience/Tests/Dnn.PersonaBar.Security.Tests/app.config
  Dnn.AdminExperience/Tests/Dnn.PersonaBar.Security.Tests/packages.config
  Dnn.AdminExperience/Tests/Dnn.PersonaBar.Users.Tests/Dnn.PersonaBar.Users.Tests.csproj
  Dnn.AdminExperience/Tests/Dnn.PersonaBar.Users.Tests/app.config
  Dnn.AdminExperience/Tests/Dnn.PersonaBar.Users.Tests/packages.config
Labels: Type: Maintenance

#5613 Use DI for auth message handlers & routing
  DNN Platform/DotNetNuke.Web.Mvc/Routing/MvcRoutingManager.cs
  DNN Platform/DotNetNuke.Web.Mvc/Startup.cs
  DNN Platform/DotNetNuke.Web/Api/Internal/ServicesRoutingManager.cs
  DNN Platform/DotNetNuke.Web/DotNetNuke.Web.csproj
  DNN Platform/DotNetNuke.Web/Startup.cs
  DNN Platform/Library/Common/Internal/IRoutingManager.cs
  DNN Platform/Library/Common/Internal/ServicesRoutingManager.cs
  DNN Platform/Library/DotNetNuke.Library.csproj
  DNN Platform/Tests/DotNetNuke.Tests.Web/Api/ServiceRoutingManagerTests.cs
Labels: Type: Enhancement, Area: Platform > DotNetNuke.DependencyInjection

#5615 Enable DI for DnnFormEditControlItem
  DNN Platform/DotNetNuke.Web/UI/WebControls/DnnFormEditControlItem.cs
  DNN Platform/DotNetNuke.Web/UI/WebControls/DnnFormItemBase.cs
  DNN Platform/Library/UI/WebControls/PropertyEditor/CollectionEditorControl.cs
  DNN Platform/Library/UI/WebControls/PropertyEditor/Edit Controls/EditControlFactory.cs
  DNN Platform/Library/UI/WebControls/PropertyEditor/FieldEditorControl.cs
  DNN Platform/Library/UI/WebControls/PropertyEditor/ProfileEditorControl.cs
  DNN Platform/Library/UI/WebControls/PropertyEditor/PropertyEditorControl.cs
  DNN Platform/Library/UI/WebControls/PropertyEditor/SettingsEditorControl.cs
  DNN Platform/Website/DesktopModules/Admin/Security/Register.ascx.cs
Labels: Type: Enhancement, Area: Platform > DotNetNuke.DependencyInjection

#5621 Add DI for DDR Menu and NavigationProvider
  DNN Platform/Library/Modules/NavigationProvider.cs
  DNN Platform/Library/UI/Containers/ActionsMenu.cs
  DNN Platform/Library/UI/Skins/NavObjectBase.cs
  DNN Platform/Modules/DDRMenu/Actions.cs
  DNN Platform/Modules/DDRMenu/App_Start/Startup.cs
  DNN Platform/Modules/DDRMenu/DDRMenuControl.cs
  DNN Platform/Modules/DDRMenu/DDRMenuNavigationProvider.cs
  DNN Platform/Modules/DDRMenu/DotNetNuke.Modules.DDRMenu.csproj
  DNN Platform/Modules/DDRMenu/Localisation/Generic.cs
  DNN Platform/Modules/DDRMenu/Localisation/ILocaliser.cs
  DNN Platform/Modules/DDRMenu/Localisation/Localiser.cs
  DNN Platform/Modules/DDRMenu/MenuBase.cs
  DNN Platform/Modules/DDRMenu/MenuView.ascx.cs
  DNN Platform/Modules/DDRMenu/SkinObject.cs
  DNN Platform/Tests/DotNetNuke.Tests.Modules.DDRMenu/DotNetNuke.Tests.Modules.DDRMenu.csproj
  DNN Platform/Tests/DotNetNuke.Tests.Modules.DDRMenu/app.config
  DNN Platform/Tests/DotNetNuke.Tests.Modules.DDRMenu/packages.config
  DNN Platform/Website/admin/Containers/DropDownActions.ascx.cs
Labels: Type: Enhancement, Area: Platform > DotNetNuke.DependencyInjection

#5623 Enable DI for IMenuItemController
  DNN Platform/DotNetNuke.Web/Api/AuthorizeAttributeBase.cs
  Dnn.AdminExperience/Library/Dnn.PersonaBar.Library/Attributes/MenuPermissionAttribute.cs
  Dnn.AdminExperience/Library/Dnn.PersonaBar.Library/Containers/PersonaBarContainer.cs
  Dnn.AdminExperience/Library/Dnn.PersonaBar.Library/Controllers/PersonaBarController.cs
  Dnn.AdminExperience/Library/Dnn.PersonaBar.Library/Dnn.PersonaBar.Library.csproj
  Dnn.AdminExperience/Library/Dnn.PersonaBar.Library/Startup.cs
Labels: Type: Enhancement, Area: AE > Dnn.PersonaBar.UI, Area: Platform > DotNetNuke.DependencyInjection

#5620 Add DI support for site export/import
  DNN Platform/Modules/DnnExportImport/Components/Common/Util.cs
  DNN Platform/Modules/DnnExportImport/Components/Controllers/BaseController.cs
  DNN Platform/Modules/DnnExportImport/Components/Controllers/ExportController.cs
  DNN Platform/Modules/DnnExportImport/Components/Controllers/ImportController.cs
  DNN Platform/Modules/DnnExportImport/Components/Engines/ExportImportEngine.cs
  DNN Platform/Modules/DnnExportImport/Components/Scheduler/ExportImportScheduler.cs
  DNN Platform/Modules/DnnExportImport/Components/Services/PagesExportService.cs
  DNN Platform/Modules/DnnExportImport/DnnExportImport.csproj
  DNN Platform/Modules/DnnExportImport/Services/ExportImportController.cs
  DNN Platform/Modules/DnnExportImport/Startup.cs
  DNN Platform/Modules/DnnExportImport/packages.config
Labels: Type: Enhancement, Area: Platform > DotNetNuke.DependencyInjection

#5627 Introduce FakeServiceProvider for tests
  DNN Platform/Library/Services/Search/Controllers/SearchControllerImpl.cs
  DNN Platform/Tests/DotNetNuke.Tests.Content/AttachmentControllerTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Content/ContentControllerTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Content/ContentTypeControllerTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Content/ScopeTypeControllerTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Content/TermControllerTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Content/VocabularyControllerTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Common/NavigationManagerTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Controllers/Host/HostControllerTest.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Controllers/Messaging/MessagingControllerTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Controllers/Messaging/NotificationsControllerTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Controllers/Messaging/SubscriptionTypeControllerTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Controllers/Portal/PortalGroupControllerTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Controllers/Search/InternalSearchControllerTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Controllers/Search/LuceneControllerTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Controllers/Search/SearchControllerTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Controllers/Search/SearchHelperTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Controllers/Social/RelationshipControllerTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Entities/Modules/BusinessControllerProviderTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Entities/Modules/Settings/ModuleSettingsTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Entities/Modules/Settings/NullableSettingsTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Entities/Modules/Settings/PortalSettingsTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Entities/Modules/Settings/TabModuleSettingsTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Entities/Portals/PortalSettingsControllerTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Entities/Urls/AdvancedUrlRewriterTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/FileSystemUtilsTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Framework/JavaScriptLibraries/JavaScriptTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Framework/ServicesFrameworkTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Providers/Folder/FileContentTypeManagerTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Utilities/DotNetNuke.Tests.Utilities.csproj
  DNN Platform/Tests/DotNetNuke.Tests.Utilities/Fakes/FakeServiceProvider.cs
Labels: Type: Enhancement, Area: Platform > Tests

#5630 Fix avatar url not being populated when calling UserController.GetUsers
  Dnn.AdminExperience/Dnn.PersonaBar.Extensions/Components/Users/Dto/UserBasicDto.cs
  Dnn.AdminExperience/Dnn.PersonaBar.Extensions/Components/Users/UsersController.cs
Labels: Type: Bug

#5631 Use FakeServiceProvider for the rest of the tests
  DNN Platform/Tests/DotNetNuke.Tests.Core/Providers/Folder/FileManagerTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Providers/Folder/FolderManagerTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Providers/Folder/StandardFolderProviderTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Services/CryptographyProviders/CoreCryptographyProviderTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Services/CryptographyProviders/FipsCompilanceCryptographyProviderTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Services/Installer/AssemblyInstallerTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Services/Mobile/PreviewProfileControllerTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Services/Mobile/RedirectionControllerTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Services/Search/Internals/LuceneControllerImplTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Services/Tokens/TokenReplaceTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Services/UserRequest/UserRequestIPAddressControllerTest.cs
  DNN Platform/Tests/DotNetNuke.Tests.Data/RepositoryBaseTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Urls/ExtensionUrlProviderControllerTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Utilities/HttpContextHelper.cs
  DNN Platform/Tests/DotNetNuke.Tests.Web.Mvc/Framework/ModuleDelegatingViewEngineTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Web.Mvc/Framework/Modules/ModuleApplicationTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Web/Api/Internals/DnnDependencyResolverTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Web/Api/Internals/WebFormsServiceProviderTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Web/Api/PortalAliasRouteManagerTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Web/Api/ServiceRoutingManagerTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Web/InternalServices/FileUploadControllerTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Web/InternalServices/SearchServiceControllerTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Web/InternalServices/TabVersionControllerTests.cs
  Dnn.AdminExperience/Tests/Dnn.PersonaBar.ConfigConsole.Tests/ConfigConsoleControllerTests.cs
  Dnn.AdminExperience/Tests/Dnn.PersonaBar.ConfigConsole.Tests/Dnn.PersonaBar.ConfigConsole.Tests.csproj
Labels: Type: Enhancement, Area: Platform > Tests

#5619 Complete DI for business controller class
  DNN Platform/DotNetNuke.Web.Mvc/Framework/Modules/IModuleExecutionEngine.cs
  DNN Platform/DotNetNuke.Web.Mvc/Framework/Modules/ModuleApplication.cs
  DNN Platform/DotNetNuke.Web.Mvc/Framework/Modules/ModuleExecutionEngine.cs
  DNN Platform/DotNetNuke.Web.Mvc/MvcHostControl.cs
  DNN Platform/DotNetNuke.Web/InternalServices/ControlBarController.cs
  DNN Platform/DotNetNuke.Web/InternalServices/SearchServiceController.cs
  DNN Platform/Library/Application/ApplicationStatusInfo.cs
  DNN Platform/Library/Common/Utilities/Config.cs
  DNN Platform/Library/Data/DataProvider.cs
  DNN Platform/Library/Entities/Icons/IconController.cs
  DNN Platform/Library/Entities/Modules/DesktopModuleController.cs
  DNN Platform/Library/Entities/Modules/IPortable.cs
  DNN Platform/Library/Entities/Modules/IUpgradeable.cs
  DNN Platform/Library/Entities/Modules/IVersionable.cs
  DNN Platform/Library/Entities/Modules/ModuleController.cs
  DNN Platform/Library/Entities/Modules/ModuleSearchBase.cs
  DNN Platform/Library/Entities/Tabs/TabVersions/TabVersionBuilder.cs
  DNN Platform/Library/Prompt/CommandRepository.cs
  DNN Platform/Library/Services/Scheduling/SchedulingProvider.cs
  DNN Platform/Library/Services/Search/Controllers/ModuleResultController.cs
  DNN Platform/Library/Services/Search/Controllers/SearchController.cs
  DNN Platform/Library/Services/Search/Controllers/SearchControllerImpl.cs
  DNN Platform/Library/Services/Search/ModuleIndexer.cs
  DNN Platform/Library/Services/Search/SearchEngine.cs
  DNN Platform/Library/Services/Search/SearchEngineScheduler.cs
  DNN Platform/Library/Services/Syndication/RssHandler.cs
  DNN Platform/Library/Services/SystemHealth/WebServerMonitor.cs
  DNN Platform/Library/Services/Tokens/HtmlTokenReplace.cs
  DNN Platform/Library/Startup.cs
  DNN Platform/Library/UI/Modules/Html5/Html5HostControl.cs
  DNN Platform/Library/UI/Modules/Html5/Html5ModuleControlFactory.cs
  DNN Platform/Library/UI/Modules/Html5/Html5ModuleTokenReplace.cs
  DNN Platform/Library/UI/Modules/ModuleControlBase.cs
  DNN Platform/Library/UI/Skins/Pane.cs
  DNN Platform/Tests/DotNetNuke.Tests.Web/InternalServices/SearchServiceControllerTests.cs
  DNN Platform/Website/admin/Modules/Export.ascx.cs
  Dnn.AdminExperience/Dnn.PersonaBar.Extensions/Components/Pages/PagesControllerImpl.cs
  Dnn.AdminExperience/Dnn.PersonaBar.Extensions/Components/Prompt/Repositories/CommandRepository.cs
  Dnn.AdminExperience/Tests/Dnn.PersonaBar.Pages.Tests/PagesControllerUnitTests.cs
Labels: Type: Enhancement, Area: Platform > DotNetNuke.DependencyInjection

#5622 Enable DI for IExtensionController
  Dnn.AdminExperience/Library/Dnn.PersonaBar.UI/Dnn.PersonaBar.UI.csproj
  Dnn.AdminExperience/Library/Dnn.PersonaBar.UI/Services/MenuExtensionsController.cs
Labels: Type: Enhancement, Area: AE > Dnn.PersonaBar.UI, Area: Platform > DotNetNuke.DependencyInjection

#5617 Add DI for EventMessageProcessorBase
  DNN Platform/Library/Common/Initialize.cs
  DNN Platform/Library/Entities/Modules/EventMessageProcessor.cs
  DNN Platform/Library/Services/EventQueue/EventQueueController.cs
Labels: Type: Enhancement, Area: Platform > DotNetNuke.DependencyInjection

#5602 Enable DI for module injection filters
  DNN Platform/Library/Common/Initialize.cs
  DNN Platform/Library/Startup.cs
  DNN Platform/Library/UI/Modules/IModuleInjectionFilter.cs
  DNN Platform/Library/UI/Modules/ModuleInjectionManager.cs
  DNN Platform/Library/UI/Modules/StandardModuleInjectionFilter.cs
  DNN Platform/Library/UI/Skins/Skin.cs
Labels: Type: Enhancement, Area: Platform > DotNetNuke.DependencyInjection

#5606 Allow registration of custom IModuleControlFactory implementations
  DNN Platform/DotNetNuke.ModulePipeline/ModuleControlPipeline.cs
  DNN Platform/DotNetNuke.Web.Mvc/MvcModuleControlFactory.cs
  DNN Platform/DotNetNuke.Web.Mvc/Startup.cs
  DNN Platform/DotNetNuke.Web.Razor/RazorModuleControlFactory.cs
  DNN Platform/DotNetNuke.Web.Razor/Startup.cs
  DNN Platform/Library/Startup.cs
  DNN Platform/Library/UI/Modules/BaseModuleControlFactory.cs
  DNN Platform/Library/UI/Modules/Html5/Html5ModuleControlFactory.cs
  DNN Platform/Library/UI/Modules/IModuleControlFactory.cs
  DNN Platform/Library/UI/Modules/ReflectedModuleControlFactory.cs
  DNN Platform/Library/UI/Modules/WebFormsModuleControlFactory.cs
Labels: Alert: Breaking Change, Type: Enhancement

#5567 Send email to administrator when an unauthorized user requests a password reset
  DNN Platform/Library/Services/Mail/Mail.cs
  DNN Platform/Library/Services/Mail/MessageType.cs
  DNN Platform/Website/App_GlobalResources/GlobalResources.resx
  DNN Platform/Website/admin/Security/SendPassword.ascx.cs
Labels: Type: Enhancement

#5635 Update latest version in bug report template
  .github/ISSUE_TEMPLATE/bug-report.md
Labels: Type: Maintenance
