Repository dnnsoftware/Dnn.Platform, pull requests merged in 2024-11, with the labels that each got.

#6191 Bumps versions to 9.13.6 for next release
  Build/Symbols/DotNetNuke_Symbols.dnn
  DNN Platform/Admin Modules/Dnn.Modules.Console/dnn_Console.dnn
  DNN Platform/Connectors/Azure/AzureConnector.dnn
  DNN Platform/Connectors/GoogleAnalytics/GoogleAnalyticsConnector.dnn
  DNN Platform/Connectors/GoogleAnalytics4/GoogleAnalytics4Connector.dnn
  DNN Platform/Connectors/GoogleTagManager/GoogleTagManagerConnector.dnn
  DNN Platform/Dnn.AuthServices.Jwt/Dnn.Jwt.dnn
  DNN Platform/DotNetNuke.WebUtility/DotNetNuke.ClientAPI.dnn
  DNN Platform/JavaScript Libraries/DnnPlugins/DnnPlugins.dnn
  DNN Platform/Modules/CoreMessaging/CoreMessaging.dnn
  DNN Platform/Modules/DDRMenu/DDRMenu.dnn
  DNN Platform/Modules/DnnExportImport/dnn_SiteExportImport.dnn
  DNN Platform/Modules/Groups/SocialGroups.dnn
  DNN Platform/Modules/HTML/dnn_HTML.dnn
  DNN Platform/Modules/HtmlEditorManager/dnn_HtmlEditorManager.dnn
  DNN Platform/Modules/Journal/Journal.dnn
  DNN Platform/Modules/MemberDirectory/MemberDirectory.dnn
  DNN Platform/Modules/RazorHost/Manifest.dnn
  DNN Platform/Modules/RazorHost/RazorHost.dnn
  DNN Platform/Modules/ResourceManager/ResourceManager.Web/package.json
  DNN Platform/Modules/ResourceManager/ResourceManager.dnn
  DNN Platform/Modules/TelerikRemoval/TelerikRemoval.dnn
  DNN Platform/Providers/AuthenticationProviders/DotNetNuke.Authentication.Facebook/Facebook_Auth.dnn
  DNN Platform/Providers/AuthenticationProviders/DotNetNuke.Authentication.Google/Google_Auth.dnn
  DNN Platform/Providers/AuthenticationProviders/DotNetNuke.Authentication.LiveConnect/Live_Auth.dnn
  DNN Platform/Providers/AuthenticationProviders/DotNetNuke.Authentication.Twitter/Twitter_Auth.dnn
  DNN Platform/Providers/CachingProviders/DotNetNuke.Providers.Caching.SimpleWebFarmCachingProvider/SimpleWebFarmCachingProvider.dnn
  DNN Platform/Providers/ClientCapabilityProviders/Provider.AspNetCCP/AspNetClientCapabilityProvider.dnn
  DNN Platform/Providers/FolderProviders/FolderProviders.dnn
  DNN Platform/Providers/HtmlEditorProviders/DNNConnect.CKE/DNNConnect.CKEditorProvider.dnn
  DNN Platform/Providers/SmtpOAuthProviders/ExchangeOnlineAuthProvider/ExchangeOnlineAuthProvider.dnn
  DNN Platform/Providers/SmtpOAuthProviders/GoogleMailAuthProvider/GoogleMailAuthProvider.dnn
  DNN Platform/Skins/Xcillion/DNN_Skin_Xcillion.dnn
  DNN Platform/Website/Providers/DataProviders/SqlDataProvider/09.13.06.SqlDataProvider
  Dnn.AdminExperience/ClientSide/AdminLogs.Web/package.json
  Dnn.AdminExperience/ClientSide/Bundle.Web/package.json
  Dnn.AdminExperience/ClientSide/Dnn.React.Common/package.json
  Dnn.AdminExperience/ClientSide/Extensions.Web/package.json
  Dnn.AdminExperience/ClientSide/Licensing.Web/package.json
  Dnn.AdminExperience/ClientSide/Pages.Web/package.json
  Dnn.AdminExperience/ClientSide/Prompt.Web/package.json
  Dnn.AdminExperience/ClientSide/Roles.Web/package.json
  Dnn.AdminExperience/ClientSide/Security.Web/package.json
  Dnn.AdminExperience/ClientSide/Seo.Web/package.json
  Dnn.AdminExperience/ClientSide/Servers.Web/package.json
  Dnn.AdminExperience/ClientSide/SiteGroups.Web/package.json
  Dnn.AdminExperience/ClientSide/SiteImportExport.Web/package.json
  Dnn.AdminExperience/ClientSide/SiteSettings.Web/package.json
  Dnn.AdminExperience/ClientSide/Sites.Web/package.json
  Dnn.AdminExperience/ClientSide/Sites.Web/src/_exportables/package.json
  Dnn.AdminExperience/ClientSide/TaskScheduler.Web/package.json
  Dnn.AdminExperience/ClientSide/Themes.Web/package.json
  Dnn.AdminExperience/ClientSide/Users.Web/package.json
  Dnn.AdminExperience/ClientSide/Users.Web/src/_exportables/package.json
  Dnn.AdminExperience/ClientSide/Vocabularies.Web/package.json
  Dnn.AdminExperience/Dnn.PersonaBar.Extensions/Dnn.PersonaBar.Extensions.dnn
  Dnn.AdminExperience/EditBar/Dnn.EditBar.UI/Dnn.EditBar.UI.dnn
  Dnn.AdminExperience/Library/Dnn.PersonaBar.UI/Dnn.PersonaBar.UI.dnn
  SolutionInfo.cs
  yarn.lock
Labels: Type: Build/Release

#6192 Updated resource-manager dependencies and some polishing
  DNN Platform/Modules/ResourceManager/App_LocalResources/ResourceManager.resx
  DNN Platform/Modules/ResourceManager/ResourceManager.Web/package.json
  DNN Platform/Modules/ResourceManager/ResourceManager.Web/src/components.d.ts
  DNN Platform/Modules/ResourceManager/ResourceManager.Web/src/components/dnn-resource-manager/dnn-resource-manager.tsx
  DNN Platform/Modules/ResourceManager/ResourceManager.Web/src/components/dnn-rm-create-folder/dnn-rm-create-folder.scss
  DNN Platform/Modules/ResourceManager/ResourceManager.Web/src/components/dnn-rm-create-folder/dnn-rm-create-folder.tsx
  DNN Platform/Modules/ResourceManager/ResourceManager.Web/src/components/dnn-rm-delete-items/dnn-rm-delete-items.scss
  DNN Platform/Modules/ResourceManager/ResourceManager.Web/src/components/dnn-rm-delete-items/dnn-rm-delete-items.tsx
  DNN Platform/Modules/ResourceManager/ResourceManager.Web/src/components/dnn-rm-edit-file/dnn-rm-edit-file.scss
  DNN Platform/Modules/ResourceManager/ResourceManager.Web/src/components/dnn-rm-edit-file/dnn-rm-edit-file.tsx
  DNN Platform/Modules/ResourceManager/ResourceManager.Web/src/components/dnn-rm-edit-folder/dnn-rm-edit-folder.scss
  DNN Platform/Modules/ResourceManager/ResourceManager.Web/src/components/dnn-rm-edit-folder/dnn-rm-edit-folder.tsx
  DNN Platform/Modules/ResourceManager/ResourceManager.Web/src/components/dnn-rm-move-items/dnn-rm-move-items.tsx
  DNN Platform/Modules/ResourceManager/ResourceManager.Web/src/components/dnn-rm-queued-file/dnn-rm-queued-file.tsx
  DNN Platform/Modules/ResourceManager/ResourceManager.Web/src/components/dnn-rm-unlink-items/dnn-rm-unlink-items.tsx
  DNN Platform/Modules/ResourceManager/ResourceManager.Web/src/services/LocalizationClient.ts
  yarn.lock
Labels: Type: Maintenance

#6195 Make GitVersion config less ambiguous
  gitversion.yml
Labels: Type: Build/Release

#6133 Change the way rolenames are localized
  DNN Platform/Library/Security/Permissions/Controls/PermissionsGrid.cs
  DNN Platform/Library/Services/Localization/Localization.cs
  DNN Platform/Modules/ResourceManager/Components/PermissionHelper.cs
  DNN Platform/Modules/ResourceManager/Services/ItemsController.cs
  DNN Platform/Website/App_GlobalResources/GlobalResources.resx
  DNN Platform/Website/App_GlobalResources/SharedResources.resx
  Dnn.AdminExperience/ClientSide/Roles.Web/src/components/roles/RoleEditor/index.jsx
  Dnn.AdminExperience/ClientSide/Roles.Web/src/components/roles/index.jsx
  Dnn.AdminExperience/Dnn.PersonaBar.Extensions/Components/Pages/PagesControllerImpl.cs
  Dnn.AdminExperience/Dnn.PersonaBar.Extensions/Components/Roles/RolesController.cs
  Dnn.AdminExperience/Dnn.PersonaBar.Extensions/Services/DTO/RoleDto.cs
  Dnn.AdminExperience/Dnn.PersonaBar.Extensions/Services/RolesController.cs
  Dnn.AdminExperience/Library/Dnn.PersonaBar.Library/Helper/PermissionHelper.cs
  Dnn.AdminExperience/Library/Dnn.PersonaBar.UI/Services/ComponentsController.cs
Labels: Type: Enhancement, Area: AE > Dnn.PersonaBar.Extensions, Area: AE > Dnn.PersonaBar.UI, Area: Platform > Library, Area: Platform > Website

#6202 Aperture: Added new CSS variables for DNN 10 color system
  DNN Platform/Skins/Aperture/src/scss/variables/_colors.scss
Labels: Type: Feature, Area: Platform > Skins, Effort: Low, Priority: High, Status: Review

#6205 Update with correct version info
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: Type: Maintenance

#6208 Update release/10.0.0 with latest changes from develop
  .github/ISSUE_TEMPLATE/bug-report.yml
  DNN Platform/Library/Common/Globals.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Common/GlobalsTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/DotNetNuke.Tests.Core.csproj
  Dnn.AdminExperience/Dnn.PersonaBar.Extensions/Components/Prompt/Models/HostModel.cs
  Dnn.AdminExperience/Dnn.PersonaBar.Extensions/Components/Servers/WebServer/ServerInfo.cs
  Dnn.AdminExperience/Library/Dnn.PersonaBar.UI/Services/ServerSummaryController.cs
Labels: Type: Maintenance

#6211 Bump lerna from 6.6.2 to 8.1.9
  lerna.json
  package.json
  yarn.lock
Labels: Type: Maintenance, javascript

#6215 Aperture: Updated DNN tab styling to comply with new color system
  DNN Platform/Skins/Aperture/src/scss/components/_dnn.scss
Labels: Type: Bug, Area: Platform > Skins, Effort: Low, Priority: High, Status: Review

#6218 Update with correct version info
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: Effort: Low, Priority: High, Type: Maintenance, Status: Review

#6217 Aperture: Updated permission grid styling to resolve a layout issue
  DNN Platform/Skins/Aperture/src/scss/components/_dnn.scss
Labels: Type: Bug, Area: Platform > Skins, Effort: Low, Priority: High, Status: Review

#6220 Merge `develop` into `release/10.0.0`
  .github/ISSUE_TEMPLATE/bug-report.yml
  Dnn.AdminExperience/ClientSide/AdminLogs.Web/package.json
  Dnn.AdminExperience/ClientSide/Bundle.Web/package.json
  Dnn.AdminExperience/ClientSide/Dnn.React.Common/package.json
  Dnn.AdminExperience/ClientSide/Extensions.Web/package.json
  Dnn.AdminExperience/ClientSide/Licensing.Web/package.json
  Dnn.AdminExperience/ClientSide/Pages.Web/package.json
  Dnn.AdminExperience/ClientSide/Prompt.Web/package.json
  Dnn.AdminExperience/ClientSide/Roles.Web/package.json
  Dnn.AdminExperience/ClientSide/Security.Web/package.json
  Dnn.AdminExperience/ClientSide/Seo.Web/package.json
  Dnn.AdminExperience/ClientSide/Servers.Web/package.json
  Dnn.AdminExperience/ClientSide/SiteGroups.Web/package.json
  Dnn.AdminExperience/ClientSide/SiteImportExport.Web/package.json
  Dnn.AdminExperience/ClientSide/SiteSettings.Web/package.json
  Dnn.AdminExperience/ClientSide/Sites.Web/package.json
  Dnn.AdminExperience/ClientSide/Sites.Web/src/_exportables/package.json
  Dnn.AdminExperience/ClientSide/TaskScheduler.Web/package.json
  Dnn.AdminExperience/ClientSide/Themes.Web/package.json
  Dnn.AdminExperience/ClientSide/Users.Web/package.json
  Dnn.AdminExperience/ClientSide/Users.Web/src/_exportables/package.json
  Dnn.AdminExperience/ClientSide/Vocabularies.Web/package.json
  lerna.json
  package.json
  yarn.lock
Labels: Type: Maintenance

#6225 Bulk Install: Initial implementation of `API Users` tab UI
  DNN Platform/Modules/BulkInstall/BulkInstall.Web/src/components.d.ts
  DNN Platform/Modules/BulkInstall/BulkInstall.Web/src/components/api-users/api-user.model.ts
  DNN Platform/Modules/BulkInstall/BulkInstall.Web/src/components/api-users/api-users.scss
  DNN Platform/Modules/BulkInstall/BulkInstall.Web/src/components/api-users/api-users.tsx
  DNN Platform/Modules/BulkInstall/BulkInstall.Web/src/components/dnn-bulk-install/dnn-bulk-install.scss
  DNN Platform/Modules/BulkInstall/BulkInstall.Web/src/components/dnn-bulk-install/dnn-bulk-install.tsx
Labels: Type: Feature, Area: Platform > Modules, Effort: Medium, Priority: High, Status: Review

#6226 Updated Microsoft.AspNet.WebApi.Core dependency to 5.3.0
  DNN Platform/Modules/BulkInstall/Dnn.Modules.BulkInstall.csproj
  DNN Platform/Modules/BulkInstall/packages.config
  DNN Platform/Modules/BulkInstall/web.config
Labels: Type: Bug, Area: Platform > Modules, Effort: Low, Priority: High, Status: Review

#6199 ENH: Use message subject when sending instant subscription messages
  DNN Platform/Library/Services/Social/Messaging/Scheduler/CoreMessagingScheduler.cs
Labels: Type: Enhancement, Area: Platform > Library
