Repository dnnsoftware/Dnn.Platform, pull requests merged in 2024-02, with the labels that each got.

#5956 Utilize _default `popUpSkin` and `popUpContainer` for IFRAME in Users module frontend
  Dnn.AdminExperience/Dnn.PersonaBar.Extensions/Components/Users/Dto/UserDetailDto.cs
Labels: Type: Bug, Area: AE > Dnn.PersonaBar.Extensions, Effort: Medium, Priority: Medium, Status: Review

#5959 Aperture: Remove unused SCSS and CSS reference from partial
  DNN Platform/Skins/Aperture/partials/_includes-popUpSkin.ascx
  DNN Platform/Skins/Aperture/src/scss/layouts/popUpSkin.scss
Labels: Type: Feature, Type: Bug, Area: Platform > Skins, Effort: Low, Priority: High, Status: Review

#5961 Fixed a node typing issue in resource manager
  DNN Platform/Modules/ResourceManager/ResourceManager.Web/package.json
  DNN Platform/Modules/ResourceManager/ResourceManager.Web/tsconfig.json
  Dnn.AdminExperience/Dnn.PersonaBar.Extensions/admin/personaBar/Dnn.Roles/scripts/bundles/roles-bundle.js.LICENSE.txt
  Dnn.AdminExperience/Dnn.PersonaBar.Extensions/admin/personaBar/Dnn.Users/scripts/bundles/users-bundle.js.LICENSE.txt
  Dnn.AdminExperience/Dnn.PersonaBar.Extensions/admin/personaBar/Dnn.Users/scripts/exportables/Users/UsersCommon.js.LICENSE.txt
  Dnn.AdminExperience/Library/Dnn.PersonaBar.UI/admin/personaBar/scripts/exports/export-bundle.js.LICENSE.txt
  yarn.lock
Labels: Type: Maintenance

#5965 Resolve issue with main entry point in package.json file
  DNN Platform/Skins/Aperture/package.json
Labels: Type: Bug, Area: Platform > Skins, Effort: Low, Priority: Low, Status: Review

#5967 Clean up frontend and add placeholder view and web project folder
  DNN Platform/Modules/BulkInstall/.babelrc
  DNN Platform/Modules/BulkInstall/Clients/Core/src/css/main.less
  DNN Platform/Modules/BulkInstall/Clients/Core/src/js/app.js
  DNN Platform/Modules/BulkInstall/Clients/Core/src/js/bootstrap.js
  DNN Platform/Modules/BulkInstall/Clients/Core/src/js/controllers/WarningController.js
  DNN Platform/Modules/BulkInstall/Clients/Core/src/js/controllers/index.js
  DNN Platform/Modules/BulkInstall/Clients/Core/src/js/services/APIUserDataService.js
  DNN Platform/Modules/BulkInstall/Clients/Core/src/js/services/DnnService.js
  DNN Platform/Modules/BulkInstall/Clients/Core/src/js/services/EventLogDataService.js
  DNN Platform/Modules/BulkInstall/Clients/Core/src/js/services/IPSpecDataService.js
  DNN Platform/Modules/BulkInstall/Clients/Core/src/js/services/SessionDataService.js
  DNN Platform/Modules/BulkInstall/Clients/Core/src/js/services/SettingDataService.js
  DNN Platform/Modules/BulkInstall/Clients/Core/src/js/services/WarnService.js
  DNN Platform/Modules/BulkInstall/Clients/Core/src/js/services/index.js
  DNN Platform/Modules/BulkInstall/Clients/Deploy/App_LocalResources/Deploy.ascx.resx
  DNN Platform/Modules/BulkInstall/Clients/Deploy/Deploy.ascx
  DNN Platform/Modules/BulkInstall/Clients/Deploy/Deploy.ascx.cs
  DNN Platform/Modules/BulkInstall/Clients/Deploy/Deploy.ascx.designer.cs
  DNN Platform/Modules/BulkInstall/Clients/Deploy/src/css/main.less
  DNN Platform/Modules/BulkInstall/Clients/Deploy/src/js/app.js
  DNN Platform/Modules/BulkInstall/Clients/Deploy/src/js/bootstrap.js
  DNN Platform/Modules/BulkInstall/Clients/Deploy/src/js/config.js
  DNN Platform/Modules/BulkInstall/Clients/Deploy/src/js/controllers/ResultController.js
  DNN Platform/Modules/BulkInstall/Clients/Deploy/src/js/controllers/SummaryController.js
  DNN Platform/Modules/BulkInstall/Clients/Deploy/src/js/controllers/UploadController.js
  DNN Platform/Modules/BulkInstall/Clients/Deploy/src/js/controllers/index.js
  DNN Platform/Modules/BulkInstall/Clients/Deploy/src/js/directives/index.js
  DNN Platform/Modules/BulkInstall/Clients/Deploy/src/js/services/SessionService.js
  DNN Platform/Modules/BulkInstall/Clients/Deploy/src/js/services/index.js
  DNN Platform/Modules/BulkInstall/Clients/Deploy/src/js/templates/install.html
  DNN Platform/Modules/BulkInstall/Clients/Deploy/src/js/templates/result.html
  DNN Platform/Modules/BulkInstall/Clients/Deploy/src/js/templates/summary.html
  DNN Platform/Modules/BulkInstall/Clients/Deploy/src/js/templates/upload.html
  DNN Platform/Modules/BulkInstall/Clients/Manage/Manage.ascx
  DNN Platform/Modules/BulkInstall/Clients/Manage/Manage.ascx.cs
  DNN Platform/Modules/BulkInstall/Clients/Manage/Manage.ascx.designer.cs
  DNN Platform/Modules/BulkInstall/Clients/Manage/src/css/main.less
  DNN Platform/Modules/BulkInstall/Clients/Manage/src/js/app.js
  DNN Platform/Modules/BulkInstall/Clients/Manage/src/js/bootstrap.js
  DNN Platform/Modules/BulkInstall/Clients/Manage/src/js/config.js
  DNN Platform/Modules/BulkInstall/Clients/Manage/src/js/controllers/EventsController.js
  DNN Platform/Modules/BulkInstall/Clients/Manage/src/js/controllers/UsersController.js
  DNN Platform/Modules/BulkInstall/Clients/Manage/src/js/controllers/WhitelistController.js
  DNN Platform/Modules/BulkInstall/Clients/Manage/src/js/controllers/index.js
  DNN Platform/Modules/BulkInstall/Clients/Manage/src/js/services/index.js
  DNN Platform/Modules/BulkInstall/Clients/Manage/src/js/templates/events.html
  DNN Platform/Modules/BulkInstall/Clients/Manage/src/js/templates/menu.html
  DNN Platform/Modules/BulkInstall/Clients/Manage/src/js/templates/users.html
  DNN Platform/Modules/BulkInstall/Clients/Manage/src/js/templates/whitelist.html
  DNN Platform/Modules/BulkInstall/Dnn.Modules.BulkInstall.csproj
  DNN Platform/Modules/BulkInstall/View.html
  DNN Platform/Modules/BulkInstall/gulpfile.js
  DNN Platform/Modules/BulkInstall/package-lock.json
  DNN Platform/Modules/BulkInstall/package.json
  DNN Platform/Modules/BulkInstall/project.config.js
  DNN Platform/Modules/BulkInstall/webpack.base.js
Labels: Type: Feature, Area: Platform > Modules, Effort: Medium, Priority: High, Status: Review

#5968 Bulk Install: Clean up all project references
  DNN Platform/Modules/BulkInstall/Components/DataAccess/Models/APIUser.cs
  DNN Platform/Modules/BulkInstall/Components/DataAccess/Models/Obfuscated.cs
  DNN Platform/Modules/BulkInstall/Components/FeatureController.cs
  DNN Platform/Modules/BulkInstall/Components/WebAPI/RemoteController.cs
  DNN Platform/Modules/BulkInstall/Dnn.Modules.BulkInstall.csproj
  DNN Platform/Modules/BulkInstall/packages.config
  DNN Platform/Modules/BulkInstall/web.Clients.config
  DNN Platform/Modules/BulkInstall/web.Debug.config
  DNN Platform/Modules/BulkInstall/web.Release.config
  DNN Platform/Modules/BulkInstall/web.config
Labels: Type: Feature, Area: Platform > Modules, Effort: Medium, Priority: High, Status: Review

#5971 Completely remove the ability to edit another user from control.
  DNN Platform/Website/DesktopModules/Admin/Security/EditUser.ascx.cs
Labels: Area: Platform > Admin Modules, Area: Platform > Controls, Type: Maintenance

#5972 Fixed an issue where one could not "unselect" Google Analytics (Legacy UA) connector
  Dnn.AdminExperience/Dnn.PersonaBar.Extensions/admin/personaBar/Dnn.Connectors/Connectors.html
  Dnn.AdminExperience/Dnn.PersonaBar.Extensions/admin/personaBar/Dnn.Connectors/scripts/Connectors.js
Labels: Type: Bug

#5973 Fixed an issue re-sending the verification email
  DNN Platform/JavaScript Libraries/DnnPlugins/DnnPlugins.dnn
Labels: Type: Bug

#5930 Fix #5894: remove the child node with null reference check.
  DNN Platform/Library/Common/Utilities/XmlExtensions.cs
  DNN Platform/Library/Entities/Modules/ModuleController.cs
  DNN Platform/Library/Entities/Tabs/TabController.cs
Labels: Type: Bug

#5979 Merge latest changes from release/9.13.3 branch into release/10.0.0
  Build/Build.csproj
  Build/Context.cs
  DNN Platform/JavaScript Libraries/DnnPlugins/DnnPlugins.dnn
  DNN Platform/Library/Common/Utilities/XmlExtensions.cs
  DNN Platform/Library/Entities/Modules/ModuleController.cs
  DNN Platform/Library/Entities/Tabs/TabController.cs
  DNN Platform/Website/DesktopModules/Admin/Security/EditUser.ascx.cs
  Dnn.AdminExperience/Dnn.PersonaBar.Extensions/admin/personaBar/Dnn.Connectors/Connectors.html
  Dnn.AdminExperience/Dnn.PersonaBar.Extensions/admin/personaBar/Dnn.Connectors/scripts/Connectors.js
  yarn.lock
Labels: Type: Maintenance

#5980 Merges build issue fix done in `release/9.13.3` back into `develop`
  Build/Build.csproj
  Build/Context.cs
Labels: Type: Maintenance

#5981 Bulk Install: Implement starter Stencil project and get build output configured
  DNN Platform/Modules/BulkInstall/.gitignore
  DNN Platform/Modules/BulkInstall/BulkInstall.Web/.editorconfig
  DNN Platform/Modules/BulkInstall/BulkInstall.Web/.gitignore
  DNN Platform/Modules/BulkInstall/BulkInstall.Web/.prettierrc.json
  DNN Platform/Modules/BulkInstall/BulkInstall.Web/package.json
  DNN Platform/Modules/BulkInstall/BulkInstall.Web/readme.md
  DNN Platform/Modules/BulkInstall/BulkInstall.Web/src/components.d.ts
  DNN Platform/Modules/BulkInstall/BulkInstall.Web/src/components/my-component/my-component.css
  DNN Platform/Modules/BulkInstall/BulkInstall.Web/src/components/my-component/my-component.tsx
  DNN Platform/Modules/BulkInstall/BulkInstall.Web/src/components/my-component/readme.md
  DNN Platform/Modules/BulkInstall/BulkInstall.Web/src/index.html
  DNN Platform/Modules/BulkInstall/BulkInstall.Web/src/index.ts
  DNN Platform/Modules/BulkInstall/BulkInstall.Web/src/utils/utils.ts
  DNN Platform/Modules/BulkInstall/BulkInstall.Web/stencil.config.ts
  DNN Platform/Modules/BulkInstall/BulkInstall.Web/stencil.dnn.config.ts
  DNN Platform/Modules/BulkInstall/BulkInstall.Web/tsconfig.json
Labels: Type: Feature, Area: Platform > Modules, Effort: Medium, Priority: High, Status: Review
