Repository dnnsoftware/Dnn.Platform, pull requests merged in 2024-04, with the labels that each got.

#6012 Use Cake Frosting optimized addins
  Build/Build.csproj
Labels: Type: Build/Release, Type: Maintenance

#6013 Bulk Install: Initial implementation of tabs
  DNN Platform/Modules/BulkInstall/BulkInstall.Web/src/components/dnn-bulk-install/dnn-bulk-install.scss
  DNN Platform/Modules/BulkInstall/BulkInstall.Web/src/components/dnn-bulk-install/dnn-bulk-install.tsx
  DNN Platform/Modules/BulkInstall/BulkInstall.Web/src/components/dnn-bulk-install/readme.md
  DNN Platform/Modules/BulkInstall/BulkInstall.Web/src/index.ts
Labels: Type: Feature, Area: Platform > Modules, Effort: Medium, Priority: High, Status: Review

#6014 Clean up additional references to `Xcillion`
  DNN Platform/Website/App_GlobalResources/Prompt.resx
  DNN Platform/Website/Config/DotNetNuke.config
  DNN Platform/Website/Portals/_default/Blank Website.template
  DNN Platform/Website/Portals/_default/Default Website.template
Labels: Type: Bug, Area: Platform > Skins, Effort: Low, Priority: High, Status: Review
