Repository dnnsoftware/Dnn.Platform, pull requests merged in 2024-01, with the labels that each got.

#5898 Add relatively basic (hehe) collection of utilities to help with content placement
  DNN Platform/Skins/Aperture/partials/_footer.ascx
  DNN Platform/Skins/Aperture/partials/_header.ascx
  DNN Platform/Skins/Aperture/src/scripts/menu.ts
  DNN Platform/Skins/Aperture/src/scss/_base.scss
  DNN Platform/Skins/Aperture/src/scss/components/_components.scss
  DNN Platform/Skins/Aperture/src/scss/components/_helpers.scss
  DNN Platform/Skins/Aperture/src/scss/sections/_footer.scss
  DNN Platform/Skins/Aperture/src/scss/sections/_sections.scss
  DNN Platform/Skins/Aperture/src/scss/style.scss
  DNN Platform/Skins/Aperture/src/scss/utilities/_dimension.scss
  DNN Platform/Skins/Aperture/src/scss/utilities/_display.scss
  DNN Platform/Skins/Aperture/src/scss/utilities/_flex.scss
  DNN Platform/Skins/Aperture/src/scss/utilities/_gap.scss
  DNN Platform/Skins/Aperture/src/scss/utilities/_margin.scss
  DNN Platform/Skins/Aperture/src/scss/utilities/_overflow.scss
  DNN Platform/Skins/Aperture/src/scss/utilities/_padding.scss
  DNN Platform/Skins/Aperture/src/scss/utilities/_position.scss
  DNN Platform/Skins/Aperture/src/scss/utilities/_utilities.scss
  DNN Platform/Skins/Aperture/src/scss/utilities/_visibility.scss
  DNN Platform/Skins/Aperture/src/scss/variables/_breakpoints.scss
  DNN Platform/Skins/Aperture/src/scss/variables/_type.scss
  DNN Platform/Skins/Aperture/src/scss/variables/_variables.scss
Labels: Type: Feature, Area: Platform > Skins, Effort: High, Priority: High, Status: Review

#5905 Clean up UrlUtils
  DNN Platform/Library/Common/Utilities/UrlUtils.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/Common/UrlUtilsTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/DotNetNuke.Tests.Core.csproj
  DNN Platform/Tests/DotNetNuke.Tests.Utilities/DotNetNuke.Tests.Utilities.csproj
  DNN Platform/Tests/DotNetNuke.Tests.Utilities/Fakes/FakeHostController.cs
  DNN_Platform.sln.DotSettings
Labels: Type: Maintenance, Type: Documentation

#5906 DNN 10 Theme: Add title container (mainly for Resource Manager module use in templates)
  DNN Platform/Skins/Aperture/containers/title.ascx
  DNN Platform/Skins/Aperture/default.ascx
  DNN Platform/Skins/Aperture/src/scss/components/_components.scss
  DNN Platform/Skins/Aperture/src/scss/components/_containers.scss
  DNN Platform/Skins/Aperture/src/scss/components/_panes.scss
Labels: Type: Feature, Area: Platform > Skins, Effort: Low, Priority: High, Status: Review

#5907 Refine a few TypeScript `compilerOptions`
  DNN Platform/Skins/Aperture/tsconfig.json
Labels: Type: Feature, Area: Platform > Skins, Effort: Low, Priority: Medium, Status: Review

#5908 Resolve issue with responsive `dimension` utility classes
  DNN Platform/Skins/Aperture/src/scss/utilities/_dimension.scss
Labels: Type: Feature, Type: Bug, Area: Platform > Skins, Effort: Low, Priority: High, Status: Review

#5909 Add responsive `image` utilities
  DNN Platform/Skins/Aperture/src/scss/utilities/_image.scss
  DNN Platform/Skins/Aperture/src/scss/utilities/_utilities.scss
Labels: Type: Feature, Area: Platform > Skins, Effort: Low, Priority: High, Status: Review

#5915 Aperture theme - Add text alignment utility classes
  DNN Platform/Skins/Aperture/src/scss/utilities/_text.scss
  DNN Platform/Skins/Aperture/src/scss/utilities/_utilities.scss
Labels: Type: Feature, Area: Platform > Skins, Effort: Low, Priority: High, Status: Review

#5916 Aperture theme - fix base style issues and rearchitect SCSS
  DNN Platform/Skins/Aperture/src/scss/_base.scss
  DNN Platform/Skins/Aperture/src/scss/components/_buttons.scss
  DNN Platform/Skins/Aperture/src/scss/components/_components.scss
  DNN Platform/Skins/Aperture/src/scss/components/_text.scss
  DNN Platform/Skins/Aperture/src/scss/style.scss
  DNN Platform/Skins/Aperture/src/scss/utilities/_backgrounds.scss
  DNN Platform/Skins/Aperture/src/scss/utilities/_borders.scss
  DNN Platform/Skins/Aperture/src/scss/utilities/_buttons.scss
  DNN Platform/Skins/Aperture/src/scss/utilities/_containers.scss
  DNN Platform/Skins/Aperture/src/scss/utilities/_fonts.scss
  DNN Platform/Skins/Aperture/src/scss/utilities/_media-queries.scss
  DNN Platform/Skins/Aperture/src/scss/utilities/_panes.scss
  DNN Platform/Skins/Aperture/src/scss/utilities/_text.scss
  DNN Platform/Skins/Aperture/src/scss/utilities/_utilities.scss
Labels: Type: Feature, Area: Platform > Skins, Effort: Medium, Priority: High, Status: Review

#5917 Aperture theme - refine various styles and utility classes
  DNN Platform/Skins/Aperture/src/scss/_base.scss
  DNN Platform/Skins/Aperture/src/scss/utilities/_dividers.scss
  DNN Platform/Skins/Aperture/src/scss/utilities/_flex.scss
  DNN Platform/Skins/Aperture/src/scss/utilities/_margin.scss
  DNN Platform/Skins/Aperture/src/scss/utilities/_utilities.scss
  DNN Platform/Skins/Aperture/themeReleaseNotes.txt
Labels: Type: Feature, Area: Platform > Skins, Effort: Medium, Priority: High, Status: Review

#5926 Re-applies #5924 onto the release branch
  Build/Build.csproj
Labels: Type: Build/Release

#5927 Update bug report issue template with latest version info
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: Effort: Low, Priority: High, Type: Maintenance, Status: Review

#5928 Updates `release/10.0.0` with the latest fixes from `develop`
  .github/ISSUE_TEMPLATE/bug-report.yml
  Build/Build.csproj
  DNN Platform/Library/Common/Utilities/UrlUtils.cs
  DNN Platform/Library/Services/FileSystem/FileManager.cs
  DNN Platform/Library/Services/FileSystem/Internal/FileSecurityController.cs
  DNN Platform/Library/Services/FileSystem/Internal/IFileSecurityController.cs
  DNN Platform/Modules/ResourceManager/App_LocalResources/ResourceManager.resx
  DNN Platform/Modules/ResourceManager/ResourceManager.Web/src/components.d.ts
  DNN Platform/Modules/ResourceManager/ResourceManager.Web/src/components/actions/dnn-action-open-file/dnn-action-open-file.tsx
  DNN Platform/Modules/ResourceManager/ResourceManager.Web/src/components/context-menus/dnn-rm-file-context-menu/dnn-rm-file-context-menu.tsx
  DNN Platform/Modules/ResourceManager/ResourceManager.Web/src/components/dnn-rm-actions-bar/dnn-rm-actions-bar.tsx
  DNN Platform/Modules/ResourceManager/ResourceManager.Web/src/components/dnn-rm-files-pane/dnn-rm-files-pane.tsx
  DNN Platform/Modules/ResourceManager/ResourceManager.Web/src/components/dnn-rm-folder-list-item/dnn-rm-folder-list-item.scss
  DNN Platform/Modules/ResourceManager/ResourceManager.Web/src/components/dnn-rm-folder-list-item/dnn-rm-folder-list-item.tsx
  DNN Platform/Modules/ResourceManager/ResourceManager.Web/src/components/dnn-rm-folder-list/dnn-rm-folder-list.scss
  DNN Platform/Modules/ResourceManager/ResourceManager.Web/src/components/dnn-rm-folder-list/dnn-rm-folder-list.tsx
  DNN Platform/Modules/ResourceManager/ResourceManager.Web/src/components/dnn-rm-items-cardview/dnn-rm-items-cardview.tsx
  DNN Platform/Modules/ResourceManager/ResourceManager.Web/src/components/dnn-rm-items-listview/dnn-rm-items-listview.tsx
  DNN Platform/Modules/ResourceManager/ResourceManager.Web/src/services/LocalizationClient.ts
  DNN Platform/Tests/DotNetNuke.Tests.Core/Common/UrlUtilsTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Core/DotNetNuke.Tests.Core.csproj
  DNN Platform/Tests/DotNetNuke.Tests.Core/Providers/Folder/FileManagerTests.cs
  DNN Platform/Tests/DotNetNuke.Tests.Utilities/DotNetNuke.Tests.Utilities.csproj
  DNN Platform/Tests/DotNetNuke.Tests.Utilities/Fakes/FakeHostController.cs
  DNN_Platform.sln.DotSettings
  yarn.lock
Labels: Type: Maintenance

#5931 Update Default Website template for DNN 10
  DNN Platform/Website/Portals/_default/Default Website.template
  DNN Platform/Website/Portals/_default/Default Website.template.en-US.resx
  DNN Platform/Website/Portals/_default/Default Website.template.resources
Labels: Type: Feature, Area: Platform > Website, Effort: High, Priority: High, Status: Review

#5932 Aperture theme - add responsive border radius utility
  DNN Platform/Skins/Aperture/src/scss/utilities/_borders.scss
Labels: Type: Feature, Area: Platform > Skins, Effort: Low, Priority: High, Status: Review

#5936 Default template photos fix
  DNN Platform/Website/Portals/_default/Default Website.template
Labels: Type: Feature, Type: Bug, Area: Platform > Website, Effort: Low, Priority: High, Status: Review

#5938 Update `Blank Website` template for DNN 10
  DNN Platform/Website/Portals/_default/Blank Website.template
  DNN Platform/Website/Portals/_default/Blank Website.template.en-US.resx
Labels: Type: Feature, Area: Platform > Website, Effort: Medium, Priority: High, Status: Review

#5942 Removed hard-coded text for Terms and Privacy theme objects
  DNN Platform/Skins/Aperture/partials/_footer.ascx
Labels: Type: Feature, Type: Bug, Area: Platform > Skins, Effort: Low, Priority: High, Status: Review
